<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dashboard</title>
  </head>
  <body>
    <h1>this is a dashboard page</h1>

    <a href="/logout">Sign Out</a>
    <h1>Hi <%= user.name %> </h1>
    <img src="<%= user.picture %>" alt="">
  </body>
</html>
