<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>this is a index page and we are going to made a auth with google</h1>
    <h2>this is a index page</h2>
  </body>
</html>
