<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="sachin"
      content="468012498624-toh1k54vtr32o2gv0plk71ij616kvrbo.apps.googleusercontent.com"
      ,
    />
    <meta charset="utf-8" />
    <title>login</title>
  </head>
  <body>
    <h1>this is a login page</h1>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script>
      function onSignIn(googleUser) {
        // var profile = googleUser.getBasicProfile();
        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/login");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
          console.log("Signed in as: " + xhr.responseText);
          if (xhr.responseText == "success") {
            signOut();
            location.assign("/dashboard");
          }
        };
        xhr.send(JSON.stringify({ token: id_token }));
        // console.log(id_token);
      }
    </script>

    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
    </script>

    <a href="#" onclick="signOut();">Sign out</a>
  </body>
</html>
